* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #002e5d;
  --color-secondary: #6c757d;
  --color-tertiary: #e9ecef;
  --color-neutral: #f8f9fa;
  --color-white: #ffffff;
}
body {
  min-height: 100vh;
  background-color: var(--color-neutral);
}
.titulo-principal {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 30px 0px 0px 30px;
  font-family: "Public Sans", sans-serif;
}
.texto-principal {
  color: var(--color-primary);
  font-family: "Public Sans", sans-serif;
}
.texto {
  font-size: 14px;
}
.contenedor-principal {
  max-width: 900px;
  height: 430px;
  margin: 20px 0px 0px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ecececb6;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 0px;
  border: 1px solid black;
  gap: 20px;
}
.subtitulos {
  color: var(--color-secondary);
  font-size: 20px;
  font-family: "Public Sans", sans-serif;
}
.label-color {
  color: var(--color-secondary);
  font-size: 12px;
  font-family: "Public Sans", sans-serif;
  padding-left: 4px;
}
.contenedor-hermano1 {
  display: flex;
  flex-direction: column;
  /*   padding: 20px; */
  gap: 10px;
}
.informacion-miembro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.miembro-img {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 4px;
}
.foto-miembro {
  width: 16px;
  height: 20px;
}
.input-miembro {
  height: 30px;
  background-color: #ecececb6;
  border: none;
  border-radius: 8px;
  width: 400px;
  font-size: 10px;
  padding-left: 8px;
  background-color: #ecececb6;
}
.input-miembro1 {
  height: 30px;
  background-color: #ecececb6;
  border: none;
  border-radius: 8px;
  width: 379px;
  font-size: 10px;
  padding-left: 8px;
  background-color: #ecececb6;
}
.input-miembro1:focus {
  border-radius: 8px;
  border: transparent;
  outline: none;
}
.input-miembro:focus {
  border-radius: 8px;
  border: transparent;
  outline: none;
}
.primer-nieto {
  display: flex;
  flex-direction: column;
  height: 50%;
  gap: 10px;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 12px;
}
.nietos {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /*   border: 1px solid black; */
  margin-left: 15px;
  margin-right: 15px;
}

.img {
  width: 10px;
}
.segundo-nieto {
  display: flex;
  flex-direction: column;
  height: 190px;
  background-color: white;
  border-radius: 12px;
  gap: 16px;
  padding-left: 4px;
}
.comentarios {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 4px;
}
.comentarios-hijo {
  background-color: var(--color-tertiary);
  width: 350px;
  height: 90px;
  padding: 6px;
  resize: none;
  border-radius: 8px;
  border: none;
  font-size: 10px;
  outline: none;
}
.select-div {
  background-color: #ecececb6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 4px;
  border-radius: 8px;
}

.select-div1 {
  background-color: #ecececb6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 4px;
  border-radius: 8px;
  width: 400px;
}

.select-image {
  /* border: 1px solid black; */
  width: 16px;
}
.primer-nieto2 {
  display: flex;
}
.contenedor-hermano2 {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  gap: 12px;
  width: 75%;
  background-color: white;
}
.primer-hijo2 {
  padding-left: 16px;
  height: 50%;
  gap: 12px;
  border: 1px black solid;
}
.primer-nieto2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.primer-bisnieto1 {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 4px;
  gap: 4px;
}
.segundo-bisnieto1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 4px;
}
.input-date-time {
  height: 30px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #ecececb6;
}

.input-date-time:focus {
  border: none;
}
.segundo-hijo2 {
  border: black 1px solid;
}
.segundo-nieto2 {
  display: flex;
  flex-direction: column;
  width: 83%;
  padding-left: 4px;
}
.primer-bisnieto2 {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #ecececb6;
  outline: none;
  height: 30px;
  border-radius: 8px;
}
.registrar-nombre {
  display: flex;
  flex-direction: column;
}
